.sign_in-btn{
    background:  #143556;
}
.btn::before{
    background: #50c6f0;
}
.header-area .header-top .header-info-left .form-box .search-icon i{
    color:#143556;
}
.slider-area{
    background-color: lightcyan;
}
.header-bottom{
    background: lightblue;
}
.header-area .header-top .header-info-right ul li a:hover{
    color: #50c6f0;
}
.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar{
    background-color: #143556 !important;
}
.mobile_menu .slicknav_menu .slicknav_nav{
    background: #50c6f0;
}

.navbar-buttons-index:hover{
    color: #50c6f0 !important;
}
.btn{
    background: #143556;
}
.slider-bg1{
    background-image: url(../assets/img/hero/slider-bg2-pic.jpg) ;
    opacity: 70%;
}
.slider-bg2{
    background-image: url(../assets/img/hero/slider-bg3-pic.jpg);
    opacity: 70%;
}
.slider-bg3{
    background-image: url(../assets/img/hero/slider-bg1-pic.jpg);
    opacity: 70%;
}

.best-selling{ 
     background-color: lightcyan; 
}
.section-bg{
    background-color: lightgray;
} 
.services-area2 .single-services{
    background-color: #143556;
}

.border-btn:hover{
    color: #143556;

}
.nav-button .nav-tabs .nav-link.active{
    background-color: #143556;
}
.border-btn.border-btn2{
    border: 1px solid #143556 !important;
    color: #143556 !important;
}
.border-btn.border-btn2:hover::before{
    background: #50c6f0;
}
.best-selling .properties .properties-card .properties-caption .properties-footer .review .rating i{
    color: black;
}
.best-selling .properties .properties-card .properties-caption .properties-footer .price span{
    color: #143556;
}
#scrollUp, #back-top{
    background: aqua;
}
.top-padding{
    padding-top: 40px;
}
.category-listing .single-listing .select-Categories .container input:checked ~ .checkmark{
    background-color: #143556;
}
.irs-slider{
    border: 1px solid #50c6f0;
    background-color: #143556;
}
.irs-bar{
    border-top: #50c6f0;
    border-bottom: #50c6f0;
    background: #143556;
}
 .slider-bg4{
    background-image: url(../assets/img/hero/book-genre.jpg);
} 
.best-selling .properties:hover .properties-caption h3 a{
    color: #50c6f0;
}
.boxed-btn{
    color: #143556 !important;
    border: 1px solid #143556;
}
.boxed-btn:hover{
    background: #143556;
    border: 1px solid #143556;
}
.slider-bg5{
    background-image: url(../assets/img/hero/aboutus.jpg);
} 
.white-btn::before{
    background: #50c6f0;
}
.submit-btn3{
    background: #50c6f0;
}
.login-check a{
    color: #143556;
}
.login-form-area .login-form .login-footer p a{
    color: blue;
}
.register-form-area .register-form .register-footer p a{
    color: blue !important;
}

.myaccount-tab-menu .nav-tabs .nav-link {
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    color: white !important;
    font-size: 15px !important;
    display: block !important;
    padding: 10px 15px !important;
    text-align: left !important;
    text-transform: capitalize !important;
}

.nav-link-100{
    width: 100%;
}



.account-nav{
    background-color: #ffffff!important;
    border: 1px solid #143556 !important;
    color: #143556 !important;
}

.myaccount-tab-menu.nav-tabs .nav-link:hover, .myaccount-tab-menu.nav-tabs .nav-link.active{
    background-color: #143556 !important;
    color: #FFFFFF !important;
}


/* moon */

.myaccount-tab-menu {
    flex-direction: column;
  }
  @media only screen and (max-width: 767px) {
    .myaccount-tab-menu {
      margin-bottom: 40px;
    }
  }
  .myaccount-tab-menu.nav-tabs .nav-link {  
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 0;
    color: white;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    text-align: left;
    text-transform: capitalize;
  }
  .myaccount-tab-menu.nav-tabs .nav-link:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
  .myaccount-tab-menu.nav-tabs .nav-link.active {
    background-color: #FF5A5A;
  }
  .myaccount-tab-menu.nav-tabs .nav-link:hover, .myaccount-tab-menu.nav-tabs .nav-link.active {
    background-color: #DCA926;
    border-color: #DCA926;
    color: #FFFFFF;
  }
  
  .myaccount-content {
    border: 1px solid #eeeeee;
    padding: 30px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
    .myaccount-content {
      padding: 20px;
    }
  }
  .myaccount-content form {
    margin-top: -20px;
  }
  .myaccount-content h3 {
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .myaccount-content .welcome a:hover {
    color: #FF5A5A;
  }
  .myaccount-content .welcome strong {
    font-weight: 600;
    color: #FF5A5A;
  }
  .myaccount-content p {
    line-height: 28px;
    margin-bottom: 2px;
  }
  .myaccount-content fieldset {
    margin-top: 20px;
  }
  .myaccount-content fieldset legend {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  .myaccount-content .account-details-form {
    margin-top: 50px;
  }
  .myaccount-content .account-details-form .single-input-item {
    margin-bottom: 20px;
  }
  .myaccount-content .account-details-form .single-input-item label {
    font-size: 14px;
    text-transform: capitalize;
    display: block;
    margin: 0 0 5px;
    font-weight: bold;
  }
  .myaccount-content .account-details-form .single-input-item input {
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 2px 20px;
    color: black !important;
    font-size: 13px;
    border-radius: 30px;
  }
  .myaccount-content .account-details-form .single-input-item input::-webkit-input-placeholder {
    color: grey;
  }
  .myaccount-content .account-details-form .single-input-item input:-moz-placeholder {
    color: grey;
  }
  .myaccount-content .account-details-form .single-input-item input::-moz-placeholder {
    color: grey;
  }
  .myaccount-content .account-details-form .single-input-item input:-ms-input-placeholder {
    color: grey;
  }
  .myaccount-content .account-details-form .single-input-item input:focus {
    border: 1px solid #143556;
  }
  .myaccount-content .account-details-form .single-input-item button {
    border: none;
    background-color: #143556;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 9px 25px;
    color: #ffffff;
    font-size: 13px;
  }
  .myaccount-content .account-details-form .single-input-item button:hover {
    background-color: #50c6f0;
    color: #ffffff;
  }
  
  .myaccount-table {
    white-space: nowrap;
    font-size: 14px;
  }
  .myaccount-table table th,
  .myaccount-table .table th {
    padding: 10px;
    font-weight: 600;
    background-color: #f8f8f8;
    border-color: #ccc;
    border-bottom: 0;
    color: #1f2226;
  }
  .myaccount-table table td,
  .myaccount-table .table td {
    padding: 10px;
    vertical-align: middle;
    border-color: #ccc;
    color: white !important;
  }
  .myaccount-table table td a,
  .myaccount-table .table td a {
    font-size: 14px;
    color: #000000;
  }